@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Montserrat&family=Open+Sans:wght@500&family=Outfit:wght@300&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;

  font-family: "Open Sans", sans-serif;

  font-family: "Outfit", sans-serif;

  font-family: "Space Mono", monospace;
  font-family: "Barlow", sans-serif;
  background-color: #fffbf8;
  font-size: 18px;
  color: hsl(232, 10%, 55%);
}

/* header style */
header {
  background-image: url("../images/desktop/image-header.jpg");
  background-size: cover;
  height: 638px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
header nav {
  display: flex;
  justify-content: space-between;
  padding: 35px;
}
header nav .menuIcon {
  margin: 0;
  font-size: 50px;
  display: none;
}
header nav h1 {
  color: white;
  font-weight: 600;
}
header .mobMune {
  display: block!important;
  width: 100%;
}
header .mobMune ul {
  background: white;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
header .mobMune ul li {
  height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
  width: 40%;
}
header .mobMune ul li a {
  color: #8c8787;
  width: 100%;
  text-align: center;
}
header .mobMune ul li #contact{
  color: black;
  background-color: #FAD700;
  border-radius: 30px;

}
header .mobMune ul li a:hover {
  background-color: transparent;
}
header nav ul {
  display: flex;
  list-style-type: none;
  width: 41%;
  justify-content: space-around;
}
header nav ul li {
}
header nav ul li a {
  color: white;
  text-decoration: none;
  padding: 14px;
}
header nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}
header h2 {
  text-align: center;
  color: white;
  font-size: 5rem;
  font-family: "Fraunces", serif;
  letter-spacing: 10px;
}
header i {
  align-self: center;
  font-size: 8rem;
  margin-top: 87px;
  color: white;
}
/* header style end */
/* main style */
/* section 1 infos style start */
.infos {
  display: flex;
}
.infos .img {
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 478px;
}
.infos .img1 {
  background-image: url("../images/desktop/image-transform.jpg");
}
.infos .img2 {
  background-image: url("../images/desktop/image-stand-out.jpg");
}
.infos .info {
  width: 50%;
  padding: 8%;
}
.infos .info h3 {
  font-family: "Fraunces", serif;
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: black;
}
.infos .info p {
  margin-bottom: 30px;
}
.infos .info a {
  text-decoration: none;
  color: black;
  font-weight: inherit;
  font-family: "Fraunces", serif;
}

.infos .info a:hover {
  text-decoration: underline;
  text-decoration-color: hsl(7, 99%, 70%);
  text-decoration-style: solid;
  text-decoration-thickness: 5px;
}
.infos .info2 a:hover {
  text-decoration-color: hsl(51, 100%, 49%);
}
/* section 1 infos style  end */
/* section 2 bgImages style start  */
.bgImages {
  display: flex;
}
.bgImages .bgImage {
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 478px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 50px;
}
.bgImages .bgImage h3 {
  margin-bottom: 30px;
  font-family: "Fraunces", serif;
  font-size: 1.7rem;
}
.bgImages .bgImage1 h3 {
  color: hsl(167, 40%, 24%);
}
.bgImages .bgImage2 h3 {
  color: hsl(198, 62%, 26%);
}
.bgImages .bgImage p {
  width: 65%;
  text-align: center;
}
.bgImages .bgImage1 p {
  color: hsl(167, 40%, 24%);
}
.bgImages .bgImage2 p {
  color: hsl(198, 62%, 26%);
}
.bgImages .bgImage1 {
  background-image: url("../images/desktop/image-graphic-design.jpg");
}
.bgImages .bgImage2 {
  background-image: url("../images/desktop/image-photography.jpg");
}
/* section 2 bgImages style end */
/* section 3 people style start */
.people {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 130px 90px;
  color: hsl(213, 9%, 39%);
}
.people .peopleList {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.people h4 {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.people .clientInfo {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.people .clientInfo img {
  width: 75px;
  border-radius: 50%;
}
.people .clientInfo p {
  text-align: center;
  margin-top: 40px;
}
.people .clientInfo .name {
  text-align: center;
  margin-top: 40px;
}
.people .clientInfo .name h5 {
  font-family: "Fraunces", serif;
  color: hsl(212, 27%, 19%);
  font-size: 18px;
}
.people .clientInfo .name p {
  margin: 0;
  font-size: 16px;
  margin-top: 5px;
  color: hsl(232, 10%, 55%);
}
/* section 3 people style end */
/* section 4 imagesList style start */
.imagesList {
  display: flex;
  height: 400px;
}
.imagesList .img {
  background-size: cover;
  background-repeat: no-repeat;
}
.imagesList .list1 {
  width: 50%;
  display: flex;
}

.imagesList .list2 {
  width: 50%;
  display: flex;
}

.imagesList .list1 .img1 {
  width: 50%;
  background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
}
.imagesList .list1 .img2 {
  width: 50%;
  background-image: url("../images/desktop/image-gallery-orange.jpg");
}
.imagesList .list2 .img3 {
  width: 50%;
  background-image: url("../images/desktop/image-gallery-cone.jpg");
}
.imagesList .list2 .img4 {
  width: 50%;
  background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
}
/* section 4 imagesList style end */
/* footer style start */
footer {
  background-color: #90d4c5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 55px;
  color: hsl(168, 34%, 41%);
}
footer nav {
  width: 40%;
}
footer nav h3 {
  color: hsl(167, 40%, 24%);
  font-size: 2rem;
  text-align: center;
}
footer nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
footer nav ul li {
}
footer nav ul li a {
  text-decoration: none;
  color: hsl(168, 34%, 41%);
}
footer nav ul li a:hover {
  color: white;
}
footer .media {
  width: 20%;
}
footer .media ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin-top: 40px;
}
footer .media ul li {
}
footer .media ul li a {
  text-decoration: none;
  color: hsl(167, 40%, 24%);
}
footer .media ul li a:hover {
  color: white;
}
/* footer style end */

/* media screen style */
@media only screen and (max-width: 900px) {
  /* section 1 infos style start */
  .infos .img1 {
    background-image: url("../images/mobile/image-transform.jpg");
    height: 370px;
  }
  .infos .img2 {
    background-image: url("../images/mobile/image-stand-out.jpg");
    height: 370px;
  }
  .infos .info {
    width: 50%;
    padding: 50px 40px;
    text-align: center;
  }
  /* section 1 infos style  end */
  /* footer style start */
  footer {
    padding: 55px 30px;
  }
  footer nav {
    width: 100%;
  }

  footer .media {
    width: 40%;
  }

  /* footer style end */
  header .pcMenu ul {
    display: none;
  }
  header nav .menuIcon {
    display: block;
  }
  header .mobMune {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  /* footer style start */
  footer {
    padding: 55px 30px;
  }
  footer nav {
    width: 100%;
  }

  footer .media {
    width: 40%;
  }

  /* footer style end */
}
@media only screen and (max-width: 600px) {
  /* section 3 people style start */
  .people {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 40px;
  }
  .people .peopleList {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
  }

  .people .clientInfo {
    width: 100%;
    margin-bottom: 60px;
    border-bottom: 1px solid gray;
  }
  .people .clientInfo:last-child {
    margin-bottom: 0;
  }
  /* section 3 people style end */
  /* section 1 infos style start */
  .infos {
    flex-direction: column-reverse;
  }
  .infos .img {
    width: 100%;
  }
  .infos .img1 {
    background-image: url("../images/mobile/image-transform.jpg");
    height: 481px;
  }
  .infos .img2 {
    background-image: url("../images/mobile/image-stand-out.jpg");
    height: 481px;
  }
  .infos .info {
    width: 100%;
    padding: 50px 40px;
    text-align: center;
    border-bottom: 1px solid gray;
  }
  /* section 1 infos style  end */
  /* section 4 imagesList style start */
  .imagesList {
    display: flex;
    flex-direction: column;
    height: 400px;
  }
  .imagesList .img {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .imagesList .list1 {
    width: 100%;
    display: flex;
    height: 730px;
  }

  .imagesList .list2 {
    width: 100%;
    display: flex;
    height: 730px;
  }

  .imagesList .list1 .img1 {
    width: 50%;
    background-image: url("../images/mobile/image-gallery-milkbottles.jpg");
  }
  .imagesList .list1 .img2 {
    width: 50%;
    background-image: url("../images/mobile/image-gallery-orange.jpg");
  }
  .imagesList .list2 .img3 {
    width: 50%;
    background-image: url("../images/mobile/image-gallery-cone.jpg");
  }
  .imagesList .list2 .img4 {
    width: 50%;
    background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");
  }
  /* section 4 imagesList style end */
  /* section 2 bgImages style start  */
  .bgImages {
    display: flex;
    flex-direction: column;
  }
  .bgImages .bgImage {
    width: 100%;

    height: 575px;
  }
  .bgImages .bgImage1 {
    background-image: url("../images/mobile/image-graphic-design.jpg");
  }
  .bgImages .bgImage2 {
    background-image: url("../images/mobile/image-photography.jpg");
  }
  /* section 2 bgImages style end */
  /* footer style start */
  footer {
    padding: 55px 30px;
  }
  footer nav {
    width: 100%;
  }

  footer .media {
    width: 50%;
  }

  /* footer style end */
}
@media only screen and (max-width: 600px) {
  /* header style */
  header {
    background-image: url("../images/mobile/image-header.jpg");
  }
  header nav ul {
    display: none;
  }
  header h2 {
    font-size: 3rem;
  }
  /* header style end */
  /* section 1 infos style start */
  .infos {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
  }
  .infos .img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 478px;
  }
  .infos .img1 {
    background-image: url("../images/mobile/image-transform.jpg");
    height: 326px;
  }
  .infos .img2 {
    background-image: url("../images/mobile/image-stand-out.jpg");
    height: 326px;
  }
  .infos .info {
    width: 100%;
    padding: 70px 40px;
    text-align: center;
  }
  /* section 1 infos style  end */
  /* section 2 bgImages style start  */
  .bgImages {
    display: flex;
    flex-direction: column;
  }
  .bgImages .bgImage {
    width: 100%;

    height: 575px;
  }
  .bgImages .bgImage1 {
    background-image: url("../images/mobile/image-graphic-design.jpg");
  }
  .bgImages .bgImage2 {
    background-image: url("../images/mobile/image-photography.jpg");
  }
  /* section 2 bgImages style end */
  /* section 3 people style start */
  .people {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 40px;
  }
  .people .peopleList {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
  }
  .people h4 {
  }
  .people .clientInfo {
    width: 100%;
    margin-bottom: 60px;
  }
  .people .clientInfo:last-child {
    margin-bottom: 0;
  }
  /* section 3 people style end */
  /* section 4 imagesList style start */
  .imagesList {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .imagesList .img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 409px;
    border-bottom: solid 1px gray;
  }
  .imagesList .list1 {
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
  }

  .imagesList .list2 {
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
  }

  .imagesList .list1 .img1 {
    width: 100%;
    /* height: 440px; */
    background-image: url("../images/mobile/image-gallery-milkbottles.jpg");
  }
  .imagesList .list1 .img2 {
    width: 100%;
    /* height: 440px; */
    background-image: url("../images/mobile/image-gallery-orange.jpg");
  }
  .imagesList .list2 .img3 {
    width: 100%;
    /* height: 440px; */
    background-image: url("../images/mobile/image-gallery-cone.jpg");
  }
  .imagesList .list2 .img4 {
    width: 100%;
    /* height: 440px; */
    background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");
  }
  /* section 4 imagesList style end */
  /* footer style start */
  footer {
    padding: 55px 30px;
  }
  footer nav {
    width: 100%;
  }

  footer .media {
    width: 60%;
  }

  /* footer style end */
}
